*{
   margin: 0;
   padding: 0;
 }

body
{   
    margin: 0 auto;
    padding: 0s;
    background: #0D1117;
 }

.navbar
{   
    height: 62px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #161B22;
 }

 .id-name
{   
    
    margin:0;
    padding: 0;
    float: left;
    
    margin-top: 16px;
    font-style:italic;
    color: #EDEDED;
 }

.network
{
    margin:0;
    padding: 0;
    float: left;
    margin-top: 16px;
    font-style:italic;
    color: #EDEDED;
 }

.about-me
{   
    margin:0;
    padding: 0;
    float:left;
    margin-top: 16px;
    font-style: italic;
    color: #EDEDED;
 }

.img-design
{  
     padding: 0;
     float: left;   
     margin-top: 50px;
     width: 100px;
     height: 100px;
     border-radius: 90px;
     border-style: solid;
     border-color: rgb(71, 72, 73);
 }
 
.h2-bar
{
    padding: 0;
    margin: auto;
    float:right;
    margin-top:10px;
    height: 175px;
    width: 600px;
    border-radius: 10px;
    background: #161B22
 }

.h2-bar .text
{
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 20px;
    font-size:x-large;
    color: #EDEDED;
 }

 .twitter
{
    padding: 0%;
    margin: 0;
    float: left;
}

.ig
{
    padding: 0;
    margin: 0;
    float: left;
 }

.li
{
    padding: 0;
    margin: 0;
    float: left;
 }