* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0s;
	background: #0d1117;
}

.container {
	width: 40%;
	margin: 0 auto;
}
.navbar {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #161b22;
	list-style-type: none;
	padding: 20px;
}

.navbar-li {
	display: inline;
	font-size: 24px;
	margin-right: 80px;
}

.navbar-a {
	text-decoration: none;
	font-style: italic;
	color: #ededed;
}
.main-img {
	display: flex;
	justify-content: center;
}

.main-img-design {
	margin-top: 80px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border-style: solid;
	border-color: rgb(71, 72, 73);
}

.article {
	border-radius: 10px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	background: #161b22;
}

.article-text {
	padding: 20px;
	padding-left: 10px;
    display: flex;
	justify-content: center;
	font-size: x-large;
	color: #ededed;
}

.article-li {
	padding-top: 5px;
}

.social-ul {
	list-style-type: none;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.social-li {
	display: inline;
	display: inline-block;

	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;

	cursor: pointer;
	padding: 10px;
}

.twitter {
	color: #2ba1f2;
}
.instagram {
	color: #5b51d8;
}

.linkedin {
	color: #0072b1;
}